// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$mybnb: #ff5a5f;
$babu: #00a699;
$arches: #fc642d;
$hof: #484848;
$foggy: #767676;
$custom-colors: (
  "mybnb": $mybnb,
  "babu": $babu,
  "arches": $arches,
  "hof": $hof,
  "foggy": $foggy,
);
