<div class="container">
  <%= render 'shared/molecules/banner', image: "banner.jpg", title: "Airbnb Clone", sub_title: "Enjoy the ultimate living experience", button_text: "Explore", button_link: "#" %>
</div>
