.navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 0rem 1rem 0.25rem 1rem;
}

.nav-item a.nav-link {
  padding-bottom: 0.25rem;
}

.nav-item.active {
  border-bottom: 3px solid black;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.nav-item:hover:not(.nav-item.active, .nav-item.dropdown) {
  border-bottom: 3px solid black;
  animation-name: fadeInBorder;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInBorder {
  0% {
    border-bottom: 3px solid transparent;
  }
  100% {
    border-bottom: 3px solid black;
  }
}
