<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <eext1 />
    <eext2 />

    <eext3 />
    <eext4 />
  </head>

  <body>
    <eext5 />
  </body>
</html>
